@model IEnumerable<Eproject3.Models.Recipes>
@using Eproject3.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = (Users)Session["User"];
    
}
<div class="content">
    @foreach (var items in Model)
            {

        <a href="/Recipes/Details/@items.id">
            <div class="col-sm-4">
                <div class="col-sm-4 box-item relative">
                    <div class="item">
                        <div class="blur-hover">
                            <h1>@items.Title</h1>
                        </div>
                        <img src="~/images/@items.Img.Split(',').First()">
                    </div>
                </div>
            </div>
        </a>
       
    }
</div>