
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <form action="/Admin/Home/Login" method="post">
            PhoneNumber: <input name="usn" type="text" required="" /></br>
            Password: <input name="pwd" type="password" required="" /></br>
            <button>Login</button>
        </form>
        <a href="/Admin/Users/ForgetPwd">Forget password</a>
    </div>
    @ViewBag.err
    @ViewBag.done
</body>
</html>
