@{
    ViewBag.Title = "Contact";
}
<hr>
<h2>@ViewBag.Title Us</h2>

<div style="height:530px">
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>
    <p>You can choose who will assist you</p>
    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">TranHuuTu@gmail.com</a><br/>
        <strong>Support:</strong> <a href="mailto:Marketing@example.com">DaoNgocHai@gmail.com</a><br/>
        <strong>Support:</strong> <a href="mailto:Marketing@example.com">DoDinhTien@gmail.com</a><br/>
        <strong>Support:</strong> <a href="mailto:Marketing@example.com">TranHuuBach@gmail.com</a><br/>
    </address>
</div>