@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="content-img">
    </div>
    <div class="content">
        <div class="container ">
            <div class="box-item relative">
                <div class="item">
                    <div class="blur-hover">
                        <h1>Ca Hap Bia</h1>
                    </div>
                    <img src="~/Image/Logo/download (1).jpg">
                </div>
            </div>
            <div class="box-item relative">
                <div class="item">
                    <div class="blur-hover">
                        <h1>Thịt Bò Xào</h1>
                    </div>
                    <img src="~/Image/Logo/thit-bo-xao-ngon-la-mieng-15.jpg">
                </div>
            </div>
            <div class="box-item relative">
                <div class="item">
                    <div class="blur-hover">
                        <h1>Caramen</h1>
                    </div>
                    <img src="~/Image/Logo/download.jpg">
                </div>
            </div>
        </div>
        <div class="container">
        </div>
        <div class="container">
        </div>
    </div>
</div>